.sidebar h2 {
  font-size: small;
  color: rgb(19, 32, 32);
  margin: 10px;
  border: sandybrown;
  padding: 10px;

}
.annoying {
  font-style: italic;
  font-weight: 900;
}
.floatright {
  width: 30%;
  background-color: lightseagreen;

  float: right;
}
.highlight {
  font-style: italic;
}

.h3 {
  font-family: helvetica;
  background: rgb(187, 233, 236);
}
.navbartext a {
  color: rgb(106, 216, 91);
}
.box {
  margin: 12px;
  border: 10px solid black;
  padding: 4px;
  background-color: rgb(151, 34, 167);
}
.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}