.sidebar h2 {
  font-size: small;
  color: rgb(19, 32, 32);
}
.floatright {
  float: right;
}
.floatleft {
  float: left;
}
.highlight {
  font-style: italic;
}
.box
  {
    margin: 6px;
    border: 3px lightseagreen;
    padding: 4px;
  }
.h3 {
  font-family: helvetica;
  background: rgb(187, 233, 236);
}
.navbartext a {
  color: rgb(106, 216, 91);
}